[Desktop Entry]
Version=1.0
Name=PineScope
Comment=Serial Oscilloscope GUI
Exec=PineScope
Icon=CMakeSetup
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Development;
StartupNotify=true